.logoBox{
  padding-top: 18px;
  padding-bottom: 9px;
}
.logoBox img{
  width: 252px;
  margin-left: 54px;
}
.headerMenu{
  box-sizing: border-box;
  margin-left: 54px;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.headerMenu ul{
  display: flex;
}
.headerMenu ul li{
  padding-left: 27px;
  height: 63px;
  line-height: 63px;
  padding-right: 27px;
  border-right: 1px solid rgb(236, 236, 236);
  font-size: 16px;
  cursor: pointer;
}
.headerMenu ul li:nth-last-of-type(1){
  border: none;
}