*{
  padding: 0;
  margin: 0;
}
.allPageBox{
  width: 1200px;
  margin: auto;
  /* -webkit-transform:scale(0.9); */
}
.allPageBox_bottom{
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}
.allPageBox_bottomLeft{
  width: 26%;
}
.allPageBox_bottomRight{
  width: 72%;
  margin-left: 2%;
}
ul li{
  list-style: none;
}
.bottomButton{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.bottomButton button{
  width: 112px;
  height: 34px;
  border: none;
  background: #757784;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}